/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-snap-type: y mandatory;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;

    
}

.scroll-snap{
    
    scroll-snap-align: start;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

:root{

    --clr-jaune: #FFDC11;
    --clr-jaune-clair: #FFF4B7;
    --clr-vert : #96D146;
    --clr-vert-fonce: #2A4B1B;
    --clr-vert-clair: #e6ffb5; 
    --clr-orange: #FFBB3D;
    --clr-orange-fonce : #84611F;
    --clr-rose: #FF80B9;
    --clr-rose-clair: #ffd6e8;
    --clr-rose-fonce: #732548;
    --clr-bleu: #3DBAEF;
    --clr-bleu-clair: #B5E9FF;
    --clr-beige: #F6F0E4
}