@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Quicksand:wght@300..700&display=swap');


/* NAVBAR */
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 1rem;
  background-color: var(--clr-beige);
  color: var(--clr-vert-fonce);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 7vw, 7rem);
  overflow: hidden;
  transition: height .3s;
  
  
  * {
    opacity: 0;
    transition: opacity .3s .2s;
  }
  
}
.nav-bar:hover {
  height: 6rem;

  *{
    opacity: 1;
  }
}


.nav-logo-wrapper {
  margin: 0;
  width: 3.75rem;
  height: 3.75rem;
  margin-top: -0.9375rem;
}

.nav-logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.nav-subtitle {
  margin: 0;
  font-family: "Bagel Fat One", cursive, system-ui;
  font-size: 0.625rem;
  color: var(--clr-vert-fonce);
  transform: translate(0, 1.25rem);
}

.nav-link {
  font-family: "Bagel Fat One", cursive, system-ui;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--clr-vert-fonce);
  margin-left: auto;
  transform: translateY(-0.3125rem);
}


/* SLIDE 1 */

.slide-1 {
  height: 100vh;
  background-color: var(--clr-vert);
  display: flex;
  justify-content: center;
  align-items: center;
}


.slide-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
  max-width: 65rem;
  padding: 0 1rem;
}

.slide-title {
  font-family: "Bagel Fat One", cursive, system-ui;
  line-height: 1.05;
  color: var(--clr-vert-fonce);
  font-size: 8rem;
  text-align: center;
}

.slide-text {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--clr-vert-fonce);
  text-align: center;
}

.slide-text.center {
  text-align: center;
}

section {
  position: relative;
}

.slide__pager {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  height: auto;
  width: auto;
  border: 2px solid var(--clr-beige);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.slide__pager-text {
  font-size: 1rem;
  color: var(--clr-beige);
  font-family: 'Bagel Fat One', cursive, system-ui;
}

/* SLIDE 2 */

.slide-2 {
  position: relative;
  min-height: 100vh;
  background-color: var(--clr-jaune);
  display: grid;
  grid-template-columns: minmax(0, 1.1fr) minmax(0, 1fr);
  align-items: center;
  padding: 5rem 5rem;
  box-sizing: border-box;
}

.slide-2__pile {
  position: relative;
  margin: 0;
  height: 80vh;
  max-height: 45rem;
}

.slide-2__pile-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-2__brocoli {
  position: absolute;
  left: 5%;
  top: -20%;
  width: 30%;
  height: auto;
  object-fit: contain;
  z-index: 10;
}

.slide-2__content {
  margin-left: auto;
  text-align: right;
  color: var(--clr-jaune-clair);
}

.slide-2__intro {
  margin: 0 0 2.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
}

.slide-2__number {
  margin: 0 0 2.5rem;
  font-family: "Bagel Fat One", system-ui, cursive;
  font-size: 6rem;
  line-height: 1;
}

/* SLIDE 3 */

.slide-3 {
  position: relative;
  height: 100vh;
  background: var(--clr-orange);
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(0, 1.1fr) minmax(0, 1fr);
}


.slide-3__house {
  position: absolute;
  left: -0.625rem;
  top: 1.25rem;
  width: 70%;
  height: 57.5rem;
  margin: 0;
}

.slide-3__house img {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.slide-3__brocoli {
  position: absolute;
  left: 8%;
  bottom: 35%;
  width: 14%;
  height: auto;
  margin: 0;
  z-index: 2;
  opacity: 0;
}

.slide-3__brocoli img {
  width: 70%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
}

.slide-3_Texte {
  position: absolute;
  right: 4.375rem;
  top: 15rem;
  max-width: 28.75rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.slide-3__intro,
.slide-3__number,
.slide-3__text {
  text-align: right;
  color: var(--clr-orange-fonce);
  margin: 0;
}

.slide-3__intro {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
}

.slide-3__number {
  font-family: "Bagel Fat One", cursive, system-ui;
  font-size: 6rem;
  line-height: 1;
}

.slide-3__text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}


/* SLIDE 4 */
.slide-4 {
  margin: 0 auto;
  background: var(--clr-rose);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.slide-4__text-top {
  grid-area: 1 / 1 / 2 / 4;
  align-self: center;
  justify-self: center;
  max-width: 68.75rem;
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.45;
  color: var(--clr-rose-fonce);
}

.slide-4__image {
  grid-area: 2 / 2 / 5 / 5;
  align-self: center;
  justify-self: center;
  width: 45rem;
  height: 30rem;
  margin: 0;
}

.slide-4__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.slide-4__text-bottom {
  grid-area: 5 / 4 / 6 / 5;
  align-self: center;
  justify-self: center;
  max-width: 68.75rem;
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.45;
  color: var(--clr-rose-fonce);
  text-align: center;
  padding-right: 3rem;
}

/* SLIDE 5 */

.slide-5 {
  background: var(--clr-bleu);
  color: var(--clr-bleu-clair);
}

.slide-5__header,
.slide-6__header,
.slide-7__header,
.slide-8__header {
  max-width: 90rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 5rem 5rem 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.slide-5__title,
.slide-6__title,
.slide-7__title,
.slide-8__title {
  margin: 0;
  font-size: 3.2rem;
  line-height: 1.1;
}

.slide-5__number,
.slide-6__number,
.slide-7__number,
.slide-8__number {
  margin: 0;
  font-family: "Bagel Fat One", cursive, system-ui;
  font-size: 6.5rem;
  line-height: 1;
  white-space: nowrap;
  display: flex;
  justify-content: end;
}

.slide-5__text,
.slide-6__text,
.slide-7__text,
.slide-8__text {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 48.9375rem;
}


.slide-5__image,
.slide-6__image,
.slide-7__image,
.slide-8__image {
  margin: 0 auto 2.5rem;
  width: 100%;
  max-width: 60rem;
}

.slide-5__image img,
.slide-6__image img,
.slide-7__image img,
.slide-8__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


/* SLIDE 6 */

.slide-6 {
  background: var(--clr-jaune);
  color: var(--clr-jaune-clair);
}

/* SLIDE 7 */

.slide-7 {
  background: var(--clr-rose);
  color: var(--clr-rose-fonce);
}

/* SLIDE 8 */

.slide-8 {
  background: var(--clr-vert);
  color: var(--clr-vert-fonce);
  height: 100vh;
}

/* SLIDE 9 */

.slide-9 {
  height: 100vh;
  background-color: var(--clr-orange);
  overflow: hidden;
  color: var(--clr-orange-fonce);
  display: grid;
  grid-template-rows: 250px auto 134px;
  padding: 0 163px;
}

.slide-9__header {
  display: grid;
  grid-template-areas: "overlay";
  align-items: start;
}

.slide-9__intro {
  grid-area: overlay;
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  padding-top: 45px;
  padding-bottom: 23px;
}

.slide-9__percentage {
  grid-area: overlay;
  align-self: start;
  margin: 0;
  font-family: "Bagel Fat One", system-ui, sans-serif;
  font-style: normal;
  font-size: 9rem;
  line-height: 1;
  margin-top: 113px;
  width: 381px;
}

.slide-9__per-an {
  grid-area: overlay;
  transform: translate(392px, 225px);
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.slide-9__content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: start;
  margin-top: 0;
}

.slide-9__dish-left {
  grid-column: 1 / 2;
  align-self: start;
  justify-self: center;
  margin-top: 150px;
  width: 323px;
  height: 197px;
  margin-left: 0;
}

.slide-9__dish-center {
  grid-column: 2 / 3;
  align-self: start;
  justify-self: center;
  margin-top: 100px;
  width: 504px;
  height: 402px;
  margin-left: 0;
}

.slide-9__broccoli {
  grid-column: 3 / 4;
  align-self: start;
  justify-self: center;
  margin-top: 150px;
  width: 128px;
  height: 197px;
  margin-left: 0;
}

.slide-9__description {
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  padding-left: 0;
}

/* SLIDE 10 */

.slide-10 {
  height: 100vh;
  background-color: var(--clr-bleu);
  overflow: hidden;
  color: var(--clr-bleu-clair);
  display: grid;
  grid-template-rows: 250px auto 134px;
  padding: 0 163px;
}

.slide-10__header {
  display: grid;
  grid-template-areas: "overlay";
  align-items: start;
}

.slide-10__intro {
  grid-area: overlay;
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  padding-top: 45px;
  padding-bottom: 23px;
}

.slide-10__percentage {
  grid-area: overlay;
  align-self: start;
  margin: 0;
  font-family: "Bagel Fat One", system-ui, sans-serif;
  font-style: normal;
  font-size: 9rem;
  line-height: 1;
  margin-top: 113px;
  width: 381px;
}

.slide-10__per-an {
  grid-area: overlay;
  transform: translate(392px, 225px);
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.slide-10__content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: start;
  margin-top: 0;
}

.slide-10__dish-left {
  grid-column: 1 / 2;
  align-self: start;
  justify-self: center;
  margin-top: 150px;
  width: 323px;
  height: 197px;
  margin-left: 0;
}

.slide-10__dish-center {
  grid-column: 2 / 3;
  align-self: start;
  justify-self: center;
  margin-top: 100px;
  width: 504px;
  height: 402px;
  margin-left: 0;
}

.slide-10__broccoli {
  grid-column: 3 / 4;
  align-self: start;
  justify-self: center;
  margin-top: 150px;
  width: 128px;
  height: 197px;
  margin-left: 0;
}

.slide-10__description {
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  padding-left: 0;
}

/* SLIDE 11 */
.slide-11 {
  position: relative;
  height: 100vh;
  font-family: 'bagel fat one', cursive, system-ui;
  background-color: var(--clr-jaune);
  color: var(--clr-jaune-clair);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 7vw, 7rem);
}

.slide-11_text {
  margin: 0;
  text-align: center;
  max-width: 75rem;
  padding: 0 1rem;
}


/* SLIDE 12 */

.slide-12 {
  height: 100vh;
  background-color: var(--clr-rose);
  overflow: hidden;
  color: var(--clr-rose-fonce);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.slide-12__header {
  grid-area: 1 / 1 / 3 / 2;
  align-self: end;
  padding-right: 10rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slide-12__text-main {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}

.slide-12__content {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
  justify-items: center;
  padding-right: 0;
}

.slide-12__greenhouse,
.slide-12__broccoli {
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
  width: 80%;
  max-width: 500px;
  padding-top: 0;
}

.slide-12__broccoli {
  align-self: end;
  justify-self: start;
  width: 30%;
  margin-left: 10%;
  margin-bottom: -5%;
  z-index: 10;
}

.slide-12__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slide-12__text-sub {
  align-self: start;
  padding-right: 2rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: left;
}

.slide-12__text-sub span {
  font-size: 2.5rem;
  font-family: 'bagel fat one', cursive, system-ui;
}


/* SLIDE 13 */

.slide-13 {
  background: var(--clr-vert);
  color: var(--clr-vert-fonce);
  height: 100vh;
}


.slide-13__header {
  padding: 4rem;
}



.slide-13__inner {
  
  margin: 0 auto;
  padding: 80px 80px 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 0;
  
}


.slide-13__title {
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3;
}

.slide-13__text {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6;
}

.slide-13__image {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.slide-13__image img {
  max-width: 60%;
  height: auto;
  object-fit: contain;
}

/* SLIDE 14 */

.slide-14 {
  background: var(--clr-orange);
  color: var(--clr-orange-fonce);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 32px;
  padding: 80px 80px 64px;
  box-sizing: border-box;
  height: 100vh;
}

.slide-14__header {
  display: grid;
  row-gap: 16px;
  max-width: 1100px;
}

.slide-14__title {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.2;
}

.slide-14__title span,
.slide-14__text span {
  font-size: 2.5rem;
  font-family: 'bagel fat one', cursive, system-ui;
}

.slide-14__text {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
}

.slide-14__figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-14__figure img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}



/* SLIDE 15 */

.slide-15 {
  background: var(--clr-bleu);
  color: var(--clr-bleu-clair);
  min-height: 100vh;
  row-gap: 32px;
  padding: 80px 80px 64px;
  box-sizing: border-box;
}

.slide-15__header {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 40px;
  align-items: flex-start;
}

.slide-15__title {
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}

.slide-15__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: right;
}

.slide-15__figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-15__figure img {
  max-width: 40%;
  height: auto;
  object-fit: contain;
}

.slide-15__text {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
}


.slide-15__text span {
  font-size: 2.5rem;
  font-family: 'bagel fat one', cursive, system-ui;
}

/* SLIDE 16 */

.slide-16 {
  background: var(--clr-jaune);
  color: var(--clr-jaune-clair);
  height: 100vh;
  row-gap: 32px;
  padding: 80px 80px 64px;
  box-sizing: border-box;
}


.slide-16__header,
.slide-17__header {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.slide-16__inner,
.slide-17__inner {
  margin: 0 auto;
}


.slide-16__title,
.slide-17__title {
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3;
}

.slide-16__title span {
  font-family: 'bagel fat one', cursive, system-ui;
  font-size: 3rem;
}

.slide-16__text,
.slide-17__text {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6;
}

.slide-16__image,
.slide-17__image {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.slide-16__image img,
.slide-17__image img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

/* SLIDE 17 */

.slide-17 {
  background: var(--clr-rose);
  color: var(--clr-rose-fonce);
  height: 100vh;
  row-gap: 32px;
  padding: 80px 80px 64px;
  box-sizing: border-box;
}


/* SLIDE 18 */

.slide-18 {
  background-color: var(--clr-vert);
  color: var(--clr-vert-fonce);
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100vh;
}

.slide-inner-18 {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  align-items: center;
  max-width: 75rem;
}

.slide-18__figure {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

.slide-18__image {
  max-width: 100%;
  height: auto;
}

.slide-18__header {
  grid-column: 2;
  grid-row: 1;
}

.slide-18__percentage {
  font-size: 8rem;
  margin: 10px 0;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: 'Bagel Fat One', cursive, system-ui;
}

.slide-18__div {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.slide-18__description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
  padding-top: 20px;
}

.slide-18__text {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding-top: 10px;
}


/* SLIDE 19 */
.slide-19 {
  min-height: 100vh;
  background-color: var(--clr-orange);
  color: var(--clr-orange-fonce);
  padding: 5rem 5rem 4rem;
  display: grid;
  row-gap: 2.5rem;
}

.slide-19__title {
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}

.slide-19__chiffres {
  margin: 0;
  font-size: 0;
}

.slide-19__chiffre {
  font-family: "Bagel Fat One", cursive, system-ui;
  font-size: 5rem;
  line-height: 1.1;
  margin-right: 0.5rem;
}

.slide-19__chiffre-per-an {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}

.slide-19__figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-19__figure img {
  max-width: 22rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slide-19__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6;
}

.slide-19__pager {
  justify-self: end;
  align-self: end;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.9rem;
  border: 0.125rem solid var(--clr-jaune-clair);
  color: var(--clr-jaune-clair);
  font-weight: 700;
  font-size: 1rem;
}

.slide-19__pager span {
  white-space: nowrap;
}



/* SLIDE 20 */
.slide-20 {
  height: 100vh;
  font-family: 'bagel fat one', cursive, system-ui;
  background-color: var(--clr-bleu);
  color: var(--clr-bleu-clair);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 7vw, 7rem);
}

.slide-20_text {
  margin: 0;
  text-align: center;
  max-width: 75rem;
  padding: 0 1rem;
}
/* SLIDE 21 */

.slide-21 {
  background-color: var(--clr-jaune);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 10rem;
}

.slide-21 .card-devant h1 {
  color: var(--clr-jaune);
}

.slide-21 .card-text p {
  color: var(--clr-orange-fonce);
}

.slide-21 .card-devant,
.slide-21 .card-derriere {
  background-color: var(--clr-jaune-clair);
}

/* SLIDE 22 */

.slide-22 {
  background-color: var(--clr-rose);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 10rem;
}

.slide-22 .card-devant h1 {
  color: var(--clr-rose);
}

.slide-22 .card-text p {
  color: var(--clr-rose);
  min-width: 15rem;
  max-width: 30rem;
}

.slide-22 .card-devant,
.slide-22 .card-derriere {
  background-color: var(--clr-rose-clair);
}

.slideinner {
  width: 70%;
  height: 30rem;
  perspective: 1500px;
}

.slideinner:hover .card-rotation {
  transform: rotateY(180deg);
}

/* CARD */

.card-rotation {
  height: 100%;
  transition: 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-devant,
.card-derriere {
  position: absolute;
  width: 100%;
  height: 40rem;
  backface-visibility: hidden;
  border-radius: 3rem;
  background-color: var(--clr-vert-clair);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-devant h1 {
  margin: 1rem;
  color: var(--clr-vert);
  font-size: 3rem;
  text-align: center;
  font-family: 'Bagel Fat One', cursive, system-ui;
  letter-spacing: 0.2rem;
}

.card-derriere {
  padding: 1rem;
  transform: rotateY(180deg);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 2rem;
}

.card-text p {
  padding: 3rem 0 3rem 3rem;
  color: var(--clr-vert-fonce);
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}

.card-text span {
  font-weight: bold;
}

.card-img {
  width: 100%;
  min-width: 5rem;
  max-width: 15rem;
  height: auto;
}

/* SLIDE 23 */

.slide-23 {
  background-color: var(--clr-vert);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 10rem;
}

.lottie-planet {
  width: 25rem;
  height: 25rem;
}
